{% extends 'main/base.html' %}
{% block heading %}關於{% endblock %}
{% block content %}
歡迎來的我的部落格，您可以盡情瀏覽並留言
{% endblock%}
<!--
<!DOCTYPE html>
<html lang="zh-hant">
{% load static %} -->
<!-- 範本標籤的設定讓Django能載入靜態檔案 -->

<!-- <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>部落格</title>
</head>

<body> -->

    <!-- <ul id= 'menu'>
    <li><a href="{% url 'main:main' %}">首頁</a></li>
    <li><a href="{% url 'main:about' %}">關於</a></li>
    </ul>
    -------------------------------------------------------


    {% include 'main/menu.html' %}
    <h2>關於部落格</h2>
    <p>歡迎來的我的部落格，您可以盡情瀏覽並留言</p> -->




<!--
</body>

</html> -->