{% extends 'main/base.html' %}
{% block heading %}歡迎光臨{% endblock %}
{% block content %}
<!-- <p>{{ like }}</p> -->
{% endblock%}


<!-- <!DOCTYPE html>
{% load static %}
<html lang="zh-hant">

<head>
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <meta charset="UTF-8">
    <title>部落格</title>
</head>

<body>
    <ul id= 'menu'>
        <li><a href="{% url 'main:main' %}">首頁</a></li>
        <li><a href="{% url 'main:about' %}">關於</a></li>
    </ul>
---------------------------------------------------------------
    {% include 'main/menu.html' %}

    <h2>Django 說 -- Hello World!</h2>
    <p>{{ like }}</p>
</body>

</html> -->